---
---

@import "{{ site.theme }}";

#banner {
    #logo {
        position: absolute;
        height: 36px;
        width: 36px;
        right: 7px;
        top: 7px;
        display: block;
        background: url(../images/tag-logo.png);
    }
}
